extends layout.pug

mixin section(title)
  - var slug = title.toLowerCase().replace(/\W+/g, '-')
  section
    a(name=`${slug}`)
    h2
      a(href=`#${slug}`) #{title}
    block


mixin experience(title, company, url, location, startDate, endDate)
  .experience
    .meta
      .title-company
        h3= title
        span.company= company
        if url
          a(href=url) #{url}
      .where-when
        if location
          address= location
          if startDate
            time #{startDate}
            span.separator &ndash;
            if endDate
              time #{endDate}
            else
              | present
    .description
      block

block vars
  - var pageTitle =  "Resume";

block content
  .wrapper
    h1 Jason Daly
      br
      span Full Stack Web Developer

    ul.where-to-find-me.info-links
      li
        a(href="https://deefour.me") Website
      li
        a(href="https://github.com/deefour") Github
      li.screen-only
        a(href="https://stackoverflow.com/users/605707/deefour") StackOverflow
      li
        a(href="mailto:jason@deefour.me") jason@deefour.me
      li
        a(href="tel:12035258209") (203) 525 - 8209

    .summary

      p I am equally versed in PHP, JavaScript, CSS, and HTML, competent in many other languages and technologies, and have RedHat/CentOS sysadmin experience.

      p I have worked for over a decade on projects for big brands in the advertising, e-commerce, and education spaces. Most recently my time is spent building and maintaining ordering and inventory management services for a multi-billion dollar retailer in New England.

      p.standout
        b I am perpetually eager to learn and love solving problems through code.

    +section("Skills")

      ul.skills
        each val in ['Caddy', 'Ansible', 'AWS', 'Apache', 'PHP', 'Redis', 'Docker', 'Capistrano', 'Vagrant', 'MariaDB', 'MySQL', 'HTML5', 'CSS', 'SASS', 'Gulp.js', 'Node.js', 'Webpack', "Ruby", "Laravel", "Vuex", 'Babel', 'TypeScript', 'Vue.js', 'JavaScript', 'Git', 'CentOS', 'Redhat', 'MacOS', 'Azure'].sort((a, b) =>  a.localeCompare(b, 'en', { sensitivity: 'base' }))
          li= val

    +section("Experience")

      +experience("Lead Developer", "Label Interactive", "http://labelinteractive.com", "Southbury, CT", "November 2013")
        p I build and maintain ordering services for a large retail chain in New England.

        ul
          li Solely responsible for the creation and continued development of an inventory and order fulfillment management panel & JSON API built with Laravel, PHP7, Apache, MariaDB, Redis, and more, running on RHEL servers from Microsoft Azure.
          li Wrote Ansible playbooks to automate Capistrano-style, zero-downtime deployments.
          li Built and maintain multiple API consuming applications with Vue.js, Vuex, and vue-router enabling customer to create orders online or through in-store kiosks.
          li Created in-store, live updating order fulfillment application with Vue, vue-router, and Socket.io for employees to process orders.
          li Successfully managed migration from bare-metal Rackspace servers to Azure managed cloud services.
          li Integrated with many 3rd party services like Apple Push Notification Service, Firebase, Aurus, DoorDash, Maxmind GeoIP, Google Tag Manager, IBM XTMail, and Twilio.
          li Created tooling that processes inventory pricing and availability updates for ~125K products multiple times a day across nearly 300 stores fulfilling over a quarter million orders annually.

        p I build internal tools for the annual production and client review of thousands of online advertisements.

        ul
          li Created a Node.js command line tool to automate the creation of new projects from a series of in-house templates.
          li Created a Gulp.js pipeline that provides live-reloading during development and a variety of options for building and exporting ads for production.
          li Built a client review panel with TypeScript, Vue.js, vue-router, and Vuex that talks to a Koa.js API running on PM2.
          li Wrote tooling to unpack .zip archives, apply code transformations to manipulate production ready ads for display within the review panel <i>(for example, swapping out production CDN paths for relative paths on the fly)</i>, and more.
          li Provisioned and maintain a CentOS server with Ansible to keep software up to date.

        p I create dozens of shorter lifespan, high traffic sweepstakes, instant-win contests, micro-sites, and other unique projects for name brand companies.


      +experience("Owner & Lead Developer", "The Conference Scheduler", "https://www.theconferencescheduler.com", null, "February 2019")
        p
          b This is my side project; how I learn and stay current.
          |  The Conference Scheduler is security-focused, available-everywhere, live-updating schedule management built for schools. It aims to make creating and managing parent-teacher conferences easier for administrators, teachers, and parents.

        ul
          li CI/CD pipelines via CircleCI test and deploy the application to a Docker Swarm running on DigitalOcean droplets via Ansible deployment.
          li Ansible playbooks are used for server provisioning and deployment
          li A series of Docker Compose files are used for both development and the Docker Swarm that runs in production to maintain as much parity between environments as possible.
          li Vagrant is used locally for provisioning and deployment testing.
          li Built with current versions of PHP, CentOS, Caddy, Docker, Ansible, Laravel, Vue.js, Vuex, TypeScript, MariaDB, Redis, and Tailwind CSS.

      +experience("Development Manager", "PowerIT", null, "Oakville, CT", "April 2008", "November 2013")
        p Lead developer and development manager for a leading national school CMS provider.

        ul
          li Responsible for all development efforts for the company, including oversight of a team of six overseas developers.
          li Managed the development of the next major version of the company's flagship CMS product, built on top of Drupal and the latest version of PHP.
          li Successfully migrated all customer districts running on independent installations of the legacy product over to the new platform.
          li Built an email archiving product with a combination of IMAP filters, PHP & shell scripts, and MySQL to help school districts meet regulatory requirements by maintaining a searchable database of all email communications into and out of the district.

      +experience("Web Developer & Support Manager", "PowerIT", null, "Oakville, CT", "May 2007", "April 2008")
        p Developer and support manager for a leading national school CMS provider.

        ul
          li Instituted formal task management policies and practices for the development team.
          li Implemented version control with Subversion (and later, Git) and code maintenance practices for this company.
          li Received and resolved all code-related support requests.
          li Improved CRM and support systems for client and lead management.

    +section("Education")

      +experience("Bachelor of Science, Computer Science", "University of Connecticut", "https://uconn.edu", "Storrs, CT", 2003, 2007)

    +section("Other")

      +experience("Cadets Alumnus", "The Cadets Junior Drum and Bugle Corps", "https://yea.org/cadets", "Allentown, PA", 2003, 2004)
        p.standout Marched euphonium for The Cadets, a World Class junior drum and bugle corps, touring the country for two summers.


      +experience("Community Support", "StackOverflow", "https://stackoverflow.com/users/605707/deefour", null, 2013)
        p.standout I answer questions on StackOverflow &mdash; a consistently valuable resource &mdash; when time allows, and have earned enough reputation to put me in the top 1% in the HTML, CSS, and Ruby on Rails tags, and top 5% in others.

block scripts
  script(src="./resume.ts")
